page-aplicante {

}
.buttonApply{
    width: 75%;
    margin:auto;
    margin-bottom:8px;
    margin-top: 8px;
    
}
.stars{
    width: 50%;
}

.fotoPerfil {
    object-fit: cover;
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 100%;
    margin-right: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.encabezado {
    overflow:hidden;
    margin-bottom: 10px;
}

