page-signup {

}

.fotoDefault {
    width: 25%;
    margin-top: 10px;
}

.fotoPerfil1{
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.botonFoto {
    margin-left: 20px;
}

.divFormFoto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.titleSingUp{
    float: left;
    width: 50%;
    margin-top: 10%;
    margin-left: -5%;
    color: color($colors,verdeClaro);
    font-style: italic;
}
.logoApp{
    float: left;
    width: 50%;
}