page-signup {

}

.fotoDefault {
    width: 25%;
    margin-top: 10px;
}

.fotoPerfil1{
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.botonFoto {
    margin-left: 20px;
}

.divFormFoto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#titleSignUp{
    float: left;
    color: color($colors,verdeClaro);
    font-style: italic;
    display: inline-block;
    margin-left: 10px; 
}
#logoApp{
    float: left;
    width: 100px;
    display: inline-block;
}

#logoTitle {
    overflow: hidden;
    display: flex;
    /* alineacion vertical */
    align-items: center;
    /* alineacion horizontal */
    justify-content: center;
    margin-top: 15px;
  
}