page-proyecto {

}
.logoProyecto{
    margin-top: 12px;
    width: 25%;
    float: left;
}
.cabecera{
    padding-top: 20px;
    margin-left: 100px;
}
.parrafoDescripcion{
    margin-top: 25px;
    text-align: justify;
    background-color: #d8eebe;
    padding: 5px;
    border: solid;
    border-color: color($colors,verdeClaro)
}
.buttonApply{
    width: 75%;
    margin:auto;
    margin-bottom:8px;
    margin-top: 8px;
    
}