page-proyecto {

}
.logoProyecto{
    width: 25%;
    float: left;
}
.cabecera{
    padding-top: 20px;
    margin-left: 100px;
}
.parrafoDescripcion{
    padding-left: 5px;
    text-align: justify
}
.buttonApply{
    width: 75%;
    margin:auto;
    margin-bottom:8px;
    margin-top: 8px;
    
}