<ion-header>
  <ion-navbar>
    <ion-title>Proyecto</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="proyecto != undefined">
    <div class="logoProyecto"><img src={{proyecto.foto}}></div>
    <div class="cabecera">
      <h4>{{proyecto.nombre}}</h4>
      <div *ngIf="proyecto.creadorID == auth.getEmail(); then creador else otro"></div>
      <ng-template #creador>
        <button ion-button type="submit" class="buttonApply"
          (click)="irAListaAplicantes(proyecto.key)">Aplicantes</button>
      </ng-template>
      <ng-template #otro>
        <p>{{proyecto.creador}}</p>
      </ng-template>
    </div>
    <p class="parrafoDescripcion">{{proyecto.descripcion}}
    </p>
  </div>


</ion-content>
<ion-footer>
  <div *ngIf="proyecto != undefined">
    <div *ngIf="auth.authenticated;then content else other_content"></div>
    <ng-template #content>
      <div *ngIf="proyecto.creadorID != auth.getEmail()">
        <div
          *ngIf="(proyecto.aplicantes.indexOf(auth.getUid()) == -1 && proyecto.colaboradores.indexOf(auth.getUid())) == -1; then content1 else content2">
        </div>
        <ng-template #content1>
          <button ion-button full type="submit" class="buttonApply" (click)="addAplicante()">Aplicar</button>
        </ng-template>

        <ng-template #content2>
          <div *ngIf="proyecto.aplicantes.indexOf(auth.getUid()) != -1">
            <button ion-button full type="submit" class="buttonApply" (click)="desaplicar()">Eliminar
              aplicación</button>
          </div>
          <div *ngIf="proyecto.colaboradores.indexOf(auth.getUid()) != -1">
            <button ion-button full type="submit" class="buttonApply" (click)="descolaborar()">Eliminar
              colaboración</button>
          </div>
        </ng-template>
      </div>
    </ng-template>
    <ng-template #other_content>
      <button ion-button full type="submit" class="buttonApply" (click)="irALogin()">Iniciar sesion para
        aplicar</button>
    </ng-template>
  </div>

</ion-footer>