page-ayuda {

}

#titleHelp{
    float: left;
    color: color($colors,verdeClaro);
    font-style: italic;
    display: inline-block;
    margin-left: 10px; 
}
#logoApp{
    float: left;
    width: 100px;
    display: inline-block;
}


#logoHelp {
    overflow: hidden;
    display: flex;
    /* alineacion vertical */
    align-items: center;
    /* alineacion horizontal */
    justify-content: center;
    margin-top: 15px;
  
}