page-ayuda {

}
.titleHelp{
    float: left;
    width: 50%;
    margin-top: 15%;
    margin-left: -5%;
    color: color($colors,verdeClaro);
    font-style: italic;
}
.logoApp{
    float: left;
    width: 50%;
}