page-busqueda {

}

.thematicLeft {
    float: left;
    width: 45%;
    height: 80px;
    margin-bottom: 5%;
    margin-left: 2%;
    color: white;
    background-color: color($colors,light);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.thematicRight{
    float: left;
    width: 45%;
    height: 80px;
    margin-bottom: 5%;
    margin-left: 2%;
    color: white;
    background-color: color($colors,light);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.thematicLeft:active, .thematicRight:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.thematicTitle{
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}
.colocacion {
    margin-left: -2%;
    font-size: 16px
}
.thematicImg{
    float: right;
}