<ion-header>
  <ion-navbar>
    <ion-title>Recomendaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- List of Text Items -->
  <ion-list>
    <ion-list-header>
      <h1>Machine Learning</h1>
    </ion-list-header>
    <button ion-item *ngFor="let item of proyectosML" (click)="irProyecto()">
      <ion-avatar item-left><img class="projectLogo" src="{{item.foto}}"></ion-avatar>
      <ion-label text-wrap>
        <h2>{{item.nombre}}</h2>
        <p>{{item.descripcion.substring(0,100) + "..."}}</p>
      </ion-label>
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h1>Juegos</h1>
    </ion-list-header>
    <button ion-item *ngFor="let item of proyectosGames" (click)="irProyecto()">
      <ion-avatar item-left><img class="projectLogo" src="{{item.foto}}"></ion-avatar>
      <ion-label text-wrap>
        <h2>{{item.nombre}}</h2>
        <p>{{item.descripcion.substring(0,100) + "..."}}</p>
      </ion-label>
    </button>
  </ion-list>
</ion-content>