<ion-header>
  <ion-navbar>
    <ion-title>Recomendaciones</ion-title>
  </ion-navbar>
  <ion-item>
    <div *ngIf="auth.getEmail()">{{auth.getEmail()}}</div>
    <button ion-button color="light" item-end (click)="logout()" *ngIf="auth.authenticated">
      <ion-icon name="log-out" item-left></ion-icon>
      Log out
    </button>
    <button ion-button color="light" item-end (click)="goLogin()" *ngIf="!auth.authenticated">
      <ion-icon name="log-in" item-left></ion-icon>
      Log in
    </button>
  </ion-item>
</ion-header>


<ion-content padding>
  <!-- List of Text Items -->
  <ion-list>
    <ion-list-header>
      <h1>Juegos</h1>
    </ion-list-header>
    <div *ngFor="let item of proyectos">
      <button ion-item *ngIf="item.tipo=='Games'" (click)="irProyecto(item.key)">
        <ion-avatar item-left><img class="projectLogo" src="{{item.foto}}"></ion-avatar>
        <ion-label text-wrap>
          <h2>{{item.nombre}}</h2>
          <p>{{item.descripcion.substring(0,100) + "..."}}</p>
        </ion-label>
      </button>
    </div>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h1>Machine Learning</h1>
    </ion-list-header>
    <div *ngFor="let item of proyectos">
      <button ion-item *ngIf="item.tipo=='ML'" (click)="irProyecto(item.key)">
        <ion-avatar item-left><img class="projectLogo" src="{{item.foto}}"></ion-avatar>
        <ion-label text-wrap>
          <h2>{{item.nombre}}</h2>
          <p>{{item.descripcion.substring(0,100) + "..."}}</p>
        </ion-label>
      </button>
    </div>
  </ion-list>
</ion-content>